@import "tailwindcss";

:root {
  --background: #f4f8fc;
  --foreground: #032147;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background:
    radial-gradient(circle at top right, rgba(117, 57, 145, 0.12), transparent 40%),
    radial-gradient(circle at bottom left, rgba(32, 157, 215, 0.18), transparent 45%),
    var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
